# =============================================
# LUMIÈRE PORTFOLIO — Environment Variables
# Copy this file to .env.local and fill values
# =============================================

# ----- SANITY CMS -----
NEXT_PUBLIC_SANITY_PROJECT_ID=dzsjufuo
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_READ_TOKEN=sk6t6uA4yfjdb6RcnTXmJEOuvgRf1PGQTOgJERvwtPEcFtDn2fvxt6new2m4A2lngwGBcK4cKsj9nmHPb67dos5F1lR6PBv2vfzYtSpg6n3JWkvulraSCkNR2gLhyFtSxapHrcx35EGXYClG9bZOKlXknlCIrmZE7Mng1VwUZxp5FviXqDZX
SANITY_API_WRITE_TOKEN=skMiMzf6jPaQ6jDB4tPwWxlv3KCmK8ODZn9qWBq4CRyvuMlNH8cS7YIDV1aLTa8wK1QXiBQ40xuV6WklkVg7vEknzFfmTJKetk5hKJ3RTW7hxPW6Erh8mwD7HfJ7SLViqHXemUpyWNMemfk2mqHPfcNfWPaYZCNspdsArM6nUulvn5pwBvJC

# ----- CLOUDINARY -----
# Cloud name y API key también se configuran en Sanity Studio → Cloudinary (plugin)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dh5gcc9oo
CLOUDINARY_API_KEY=875515732666198
CLOUDINARY_API_SECRET=22yvxjmyNfwHMm5oxtYxtTT_fgs

# ----- SITE CONFIG -----
NEXT_PUBLIC_SITE_URL=https://lumiere.photography
NEXT_PUBLIC_SITE_NAME=Lumière Photography

# ----- CONTACT / WHATSAPP -----
NEXT_PUBLIC_WHATSAPP_NUMBER=+1234567890
NEXT_PUBLIC_INSTAGRAM_HANDLE=lumiere.photography
NEXT_PUBLIC_EMAIL=hello@lumiere.photography
